.btn-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    outline: none; 
    background: #f1f1f1;
    color: #222;   
}
.btn-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    outline: none; 
    color: #f1f1f1;
    background: #222;
}